<div id="maintitletop">
<div class="maintitlesides">
    <a href="#" class="maintitleleft">cities </a>
</div>
<div id="mainlogo" class="guide">
    <a href="/">
    {{> logo }}
    </a>
</div>
<div class="maintitleright maintitlesides">
    <a href="#">about</a>
</div>
</div>